.setting {
  padding: 56px 24px 24px 24px;
  height: 100%;
  margin-left: 100px;
  margin-top: -24px;
  width: 100%;
}

.user__info {
  width: 368px;
  position: relative;

}

.user__info__avatar__block {
  width: 100%;
  height: 368px;
  background: #F0F0F3 linear-gradient(132deg, #ECECF0 0%, #F2F2F5 100%) 0 0;
  border-radius: 50%;
  box-shadow: -8px -8px 15px #FFFFFF, 8px 8px 15px #AEAEC067;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user__info__avatar__wrapper {
  width: 336px;
  height: 336px;
  border-radius: 50%;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    box-shadow: -8px -8px 15px #FFFFFF, 8px 8px 15px #AEAEC067;
    z-index: 2;
    background: transparent radial-gradient(closest-side at 50% 50%, #69686F00 0%, #6A697180 94%, #727179 100%) 0% 0% no-repeat padding-box;
  }
}

.user__info__desc__block {
  width: 100%;
  background: #F0F0F3;
  box-shadow: -5px -5px 15px #FFFFFF, 5px 5px 15px #AEAEC067;
  border-radius: 30px;
  padding-top: 200px;
  margin-top: -200px;
  display: flex;
  flex-direction: column;
}

.user__info__name {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #364048;
  text-align: center;
  box-shadow: inset 0 5px 5px #AEAEC033, inset 0px -5px 5px #FFFFFFB2;
  margin-top: 25px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user__info__desc {
  box-shadow: inset 0 5px 5px #AEAEC033, inset 0px -5px 5px #FFFFFFB2;
  text-align: center;
  margin-top: 24px;
  padding: 24px 32px;
  margin-bottom: 99px;
}

.user__info__desc__text {
  font-size: 22px;
  line-height: 28px;
  color: #364048;
}

.login__settings {
  background: #F0F0F3;
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px #AEAEC067;
  border-radius: 30px;
  width: 544px;
  margin-left: 72px;

  &.login__settings_notification {
    margin-left: 80px;
  }
}

.login__settings__title {
  padding: 32px 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #364048;
  text-align: center;
}

.password__change__block {
  padding: 20px 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 5px 5px #AEAEC033, inset 0px -5px 5px #FFFFFFB2;;
}

.password__change__block__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #364048;
  text-align: center;
  margin-bottom: 21px;
}

.password__change__input {
  width: 304px;
  height: 48px;
  background: #F0F0F3;
  border: 0;
  border-radius: 67px;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  outline: none;
  box-shadow: inset 5px 5px 5px #AEAEC033, inset -5px -5px 5px #FFFFFFB2;
  margin-bottom: 16px;
  display: inline-flex;

  &::placeholder {
    color: #939A9F;
  }
}

.password__change__btn {
  width: 304px;
  height: 40px;
  box-shadow: -5px -5px 15px #FFFFFF, 5px 5px 15px #AEAEC067;
  background: #214175;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 23;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 67px;
  cursor: pointer;
  outline: none;
  border: 0;
  @extend %hover__btn__blue;
}

.qr__wrapper {
  width: 112px;
  height: 112px;
  box-shadow: inset 5px 5px 5px #AEAEC033, inset -5px -5px 5px #FFFFFFB2;
  border-radius: 16px;
  padding: 8px;
  margin-top: 16px;
}

.qr__img {
  width: 96px;
  height: 96px;
  overflow: hidden;
  border-right: 16px;
}

.alerts__input__box {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.alerts__input__wrapper {
  width: 100%;
  transition: all 0.4s;
  height: 48px;
  background: #F0F0F3;
  border-radius: 67px;
  box-shadow: inset 5px 5px 5px #AEAEC033, inset -5px -5px 5px #FFFFFFB2;
  margin-bottom: 16px;
  display: flex;
  align-items: center;

  &.disable {
    width: 304px;

    .alerts__input__add {
      display: none;
    }

    .alerts__input {
      color: #939A9F;
    }

    .alerts__input__check {
      display: flex;
    }
  }

  &.active {
    width: 304px;

    .alerts__input__add {
      display: none;
    }

    .alerts__input {
      color: #364048;
    }

    .alerts__input__check {
      display: flex;

      .alerts__input__check__icon {
        visibility: visible;
        opacity: 1;
      }
    }

    .alerts__input__icon__wrapper {
      &.links {

      }
    }

    &.one {
      width: 100%;

      .alerts__input__add {
        display: flex;
      }
    }
  }

  &.links {
    .alerts__input__icon__wrapper {
      width: auto;
      box-shadow: unset;
    }
    .alerts__input__icon{
      cursor: pointer;
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
    }

    .alerts__input {
      display: none;
    }
    .alerts__input__check{
      display: none;
    }
  }

  .alerts__input {
    width: 205px;
    background-color: transparent;
    border: 0;
    outline: none;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    transition: all 0.4s;

    &::placeholder {
      color: #939A9F;
    }
  }

  .alerts__input__check {
    width: 24px;
    height: 24px;
    box-shadow: inset 2px 2px 2px #AEAEC033, inset -2px -2px 2px #FFFFFFB2;
    border-radius: 6px;
    margin-right: 15px;
    display: none;
    margin-left: 10px;
    transition: all 0.4s;
    position: relative;
    justify-content: center;
    align-items: center;

    .alerts__input__check__icon {
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s;
    }
  }

}

.alerts__input__icon__wrapper {
  box-shadow: inset 5px 5px 5px #AEAEC033, inset -5px -5px 5px #FFFFFFB2;
  display: flex;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
}

.alerts__input__add {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: -2px -2px 6px #FFFFFF, 2px 2px 6px #AEAEC067;
  background: #EDEDEF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  cursor: pointer;
}

