.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 105px;
}

.modal {
  width: 992px;
  border-radius: 20px;
  box-shadow: 0 5px 15px 0 rgba(56, 70, 82, 0.25);
  background-color: #f0f0f3;
  padding: 24px 24px;
  //height: 990px;
  height: 864px;
    overflow-x: hidden;

  &__header {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
  }
}