body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* font-size: $fz; */
}

body {
  /* font-family: $ff_A;
  background: $white;
  color: $main_c; */
  overflow: hidden;
}

.ReactModal__Overlay{
  background: none !important;
  z-index: 9 !important;
}

.card__product__stake_active{
  box-shadow: inset 3px 3px 3px rgb(174 174 192 / 20%), inset -3px -3px 3px rgb(255 255 255 / 70%) !important;
}